[submodule "dependencies/imgui"]
	path = fwui/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/ImGuizmo"]
	path = fwui/dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "dependencies/googletest"]
	path = fw/dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/stb"]
	path = fw/dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/glm"]
	path = fw/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glad"]
	path = fw/dependencies/glad
	url = https://github.com/Dav1dde/glad
[submodule "dependencies/glfw"]
	path = fw/dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/easyloggingpp"]
	path = fw/dependencies/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "dependencies/assimp"]
	path = fw/dependencies/assimp
	url = https://github.com/assimp/assimp
[submodule "dependencies/shabui"]
	path = fw/dependencies/shabui
	url = https://github.com/sienkiewiczkm/shabui
[submodule "dependencies/entityx"]
	path = engine/dependencies/entityx
	url = https://github.com/alecthomas/entityx
