[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/Dav1dde/glad
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/easyloggingpp"]
	path = dependencies/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
